
    <h4>Comments</h4>
	  <dl>
        <% @comments.each do |comment| %>
		<blockquote>
        <dt><i class="icon-user"></i> <%= comment.commenter %>| <%= comment.id %> |
			<%= link_to 'Delete', board_post_comment_path(@board, @post, comment),
	  		    :class => "btn", :confirm => 'Are you sure?', :method => :delete %>
	    </dt>
        <dd><i class="icon-comment"></i> <%= comment.body %></dd>
		</blockquote><br/>
 	    <% end %>
      </dl>