<%= simple_form_for @board, :html => { :multipart => true, :class => "form-vertical" } do |f| %>

<%= f.input :name, :input_html => { :class => "span6" },
			:label => "<h3>Board Name</h3>",
			:placeholder => "What Name would you talk?" %>
<%= f.button :submit, :class => "btn btn-primary"%>
<%= link_to "Cancel", admin_boards_path, :class => "btn btn-danger"%>

<% end %>

