<div class="page-header">
  <h1>Editing... <small><%= @post.title %></small></h1>
</div>

<div class="row">
  <div class="span12">
<%= simple_form_for @post, :url => board_posts_path(@board), :html => { :multipart => true, :class => "form-vertical" } do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<% end %>
  <hr>
  </div>
</div>
