<table class="table table-bordered">
  <thead>
  <th class="well" style="width 200px">Latest Posts</th>
  </thead>
  <tdoby>
  <% @latest_posts.each do |latest_post| %>
    <tr>
    <td><%= link_to latest_post.title.truncate(40), board_post_path(latest_post.board_id, latest_post) %></td>
    </tr>
  <% end %>
  </tdoby>
</table>